.footer {
  background: #808080;
  height: 120px;
  color: $gray-darker;
  text-align: center;
  padding-top: 15px;
  a {
  font-size: 50px;
  color: $gray-lighter;
  }
  ul {
    margin-bottom: -1px;
  }
  .facebook:hover {
    color: $blue-facebook;
  }
  .instagram:hover {
    color: $brown-instagram;
  }
  .linkedin:hover {
    color: $blue-linked-in;
  }
  .twitter:hover {
    color: $blue-twitter;
  }
}
