<!doctype html>

<html>
  <body>
    <div class="footer">
      <ul class="list-inline">
        <li>
        <%= link_to '<i class="fa fa-twitter"></i>', '#', class: "twitter" %>
        </li>
        <li>
        <%= link_to '<i class="fa fa-linkedin"></i>', '#', class: "linkedin" %>
        </li>
        <li>
        <%= link_to '<i class="fa fa-instagram"></i>', '#', class: "instagram" %>
        </li>
        <li>
        <%= link_to '<i class="fa fa-facebook"></i>', '#', class: "facebook" %>
        </li>
      </ul>
      <p>This is an Airbnb Home challenge @ LeWagon</p>
    </div>
  </body>
</html>
